# Node.js and npm
node_modules/
package-lock.json
npm-debug.log*
yarn-error.log
yarn.lock

# IDEs and editors
.idea
.vscode
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# TypeScript
*.tsbuildinfo
dist/
build/

# Logs and temp files
*.log
tmp/
temp/

# Environment variables
.env
.env.*
!.env.example

# Optional files
coverage/
.DS_Store

